.favorites-container{
    display: flex;
    flex-direction: column;
    margin-left: 150px; 
    padding-left: 80px; 
}

.favorites-title{
    margin-top: 30px;
}

.favorite-post-container{
    width: 650px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(75, 87, 196);
}

.favorite-post-header{
    display: flex;
    margin-top: 5px;
    margin-bottom: -20px;
}

.favorite-post-img-container{
    display: flex;
    justify-content: center;
    margin: 30px 0 0;
    border: 1px solid black;
}

.favorite-post-image{
    width: 100%; 
    height: auto;
}

.favorite-post-body{
    margin-left: 10px;
}

.favorites-none{
    margin-left: 8px;
}