.user-posts-container{
    display: flex;
    flex-direction: column;
    margin-left: 150px; 
    padding-left: 80px; 
}
  
.userpost-prof-block{
    display: flex;
    margin: 20px 0 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 650px;
    padding: 5px 0 10px;
    background-color: rgb(75, 87, 196);
}
  
.userpost-profpic{
    height: 50px;
    width: 50px;
    margin: 5px 15px 0 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.userpost-owner-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userpost-owner{
    margin: 0;
}
  
.userpost-block{
    width: 650px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(75, 87, 196);
}
  
.userpost-img-container{
    display: flex;
    justify-content: center;
    margin: 30px 0 0;
    border: 1px 0 1px solid black;
}
  
.userpost-img{
    width: 100%; 
    height: auto;
}

.userpost-caption{
    font-size: 20px;
    margin-left: 20px;
}