#post-comment-container {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-comment-title {
    margin-top: 0;
    font-size: 40px;
}

.post-comment-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.post-comment-textbox {
    resize: none;
}

.post-comment-btn {
    height: 30px;
    width: 130px;
}

.error-message {
    height: 20px;
    margin: 0; 
    color: red;
    font-size: 14px;
}