#delete-comment-container{
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.del-comment-title{
    margin-top: -30px;
    margin-bottom: 40px;
}

.del-buttons-container{
    display: flex;
    gap: 50px;
}

.del-comment-yes-btn{
    height: 30px;
    width: 130px;
    border: 1px solid red;
    background-color: rgb(223, 195, 195);
    cursor: pointer;
}

.del-comment-yes-btn:hover{
    background-color: rgb(226, 59, 59);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.del-comment-no-btn{
    height: 30px;
    width: 130px;
    cursor: pointer;
}

.del-comment-no-btn:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}