#update-comment-container{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update-comment-title{
    margin-top: 0;
    font-size: 40px;
}

.update-comment-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.update-textbox{
    resize: none;
}

.update-comment-btn{
    height: 30px;
    width: 130px;
}

.update-comment-btn:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.error-message{
    height: 20px;
    margin: 0; 
    color: red;
    font-size: 14px;
}