#update-comment-container{
    height: 200px;
    width: 500px;
}

.update-comment-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.update-comment-btn{
    height: 30px;
    width: 130px;
}
