.all-posts-main{
    flex: 1;
    padding: 20px; 
    /* margin-left: 250px;  */
    /* margin-left: calc(20% + 30px); */
    margin-left: 270px;
    overflow-y: auto; 
}

.posts-header{
    display: flex;
    gap: 50px;
    align-items: center;
}

.posts-header-center{
    display: flex;
    justify-content: space-around;
    /* gap: 100px; */
    width: 650px;
    /* border: 1px solid black; */
}

.search-bar-container{
    display: flex;
    /* align-items: center;
    position: relative; */
}
/* 
.search-icon{
    position: absolute;
    left: 5px;
} */

.post-main-body{
    display: flex;
    justify-content: space-between; 
    gap: 50px;
}

.post-block-column{
    flex: 3; 
}

.post-block{
    border: 1px solid black;
    width: 100%; 
    margin-bottom: 15px;
    background-color: rgb(75, 87, 196);
    border-radius: 10px;
}

.post-header{
    display: flex;
    margin-top: 5px;
    margin-bottom: -20px;
}

.post-img-container{
    display: flex;
    justify-content: center;
    margin: 30px 0 0;
    border: 1px solid black;
}

.post-img{
    width: 100%; 
    height: auto;
}

.post-lower-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.toggle-comment-btn{
    background-color: rgb(128, 181, 228);
}

.post-lower-right-btn-cluster{
    display: flex;
    gap: 20px;
}

.post-actions{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.toggle-comment-btn{
    height: 30px;
    width: 130px;
    border-radius: 10px;
}

.comment-block{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.commenter-pic{
    padding-right: 5px;
}

.commenter-post-block{
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    background-color: white;
}

.commenter-reply{
    margin-top: 2px;
}

.commenter-modal-btns{
    display: flex;
    gap: 10px;
}

.commenter-block-left{
    display: flex;
}


.post-block-right{
    display: flex;
    flex-direction: column;
    width: 300px; 
    flex: 1;
    position: relative;
}

.post-block-right-title{
    margin-bottom: 10px;
}

.post-block-right-features{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.poster-username{
    margin-bottom: -10px;
}

.reshuffle-btn-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.reshuffle-btn{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}