.profile-dropdown{
  position: absolute;
  right: 0;
  left: 0;
  /* margin-top: 150px; */
  margin-top: 250px;
  padding: 20px 10px;
  border: 1px solid black;
  background-color: white;
}

.profile-menu-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.profile-info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
  gap: 20px;
}

.nav-home-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#stumblr-title{
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(84, 84, 221);
  transition: color 2s ease;
}

#stumblr-title:hover{
  animation: colorShift 4s infinite; 
}

@keyframes colorShift{
  0% {color: blue}
  20% {color: skyblue}
  40% {color: pink}
  60% {color: red}
  80% {color: orange }
  100% { color: purple}
}

 #nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0; 
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;
  padding: 35px 35px 35px 150px;
  background-color: rgb(180, 180, 218); 
  border-right: 1px solid black; 
}

.nav-upper{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav-upper-btn-cluster{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}